.cross span:nth-child(1) {
  transform: rotate(45deg) translateY(13px) translateX(0px);
}

.cross span:nth-child(2) {
  transform: translateX(-100%);
  opacity: 0;
}

.cross span:nth-child(3) {
  transform: rotate(-45deg) translateY(-13px) translateX(0px);
}
.hover_Effect:hover{
  transform: scale(1.1);
}
.hover_Effect{
  transition: all 500ms linear;
}