.cross span:nth-child(1) {
  transform: rotate(45deg) translateY(13px) translateX(0px);
}

.cross span:nth-child(2) {
  transform: translateX(-100%);
  opacity: 0;
}

.cross span:nth-child(3) {
  transform: rotate(-45deg) translateY(-13px) translateX(0px);
}

.hover_Effect:hover {
  transform: scale(1.1);
}

.hover_Effect {
  transition: all 500ms linear;
}

.swiper-slider {
  margin-right: 10px !important;
}

.cardHover:hover path {
  fill: white !important;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, -80px) !important;
  left: auto;
}

.NextBtn path {
  fill: #535353 !important;
}

.circle_1 {
  position: absolute;
  animation-timing-function: ease-in-out;
}

.circle_1 {
  background-color: gray;
  animation: useKey 10s infinite alternate;
}

.circle_2 {
  position: relative;
  animation: move 10s infinite alternate;
}

.circle_3 {
  position: relative;
  animation: moving 10s infinite alternate;
}

.circle_4 {
  position: relative;
  animation: circle4 10s infinite alternate;
}

.circle_5 {
  position: absolute;
  animation: circle5 30s infinite linear;
  animation-delay: 9;
}

.circle_6 {
  position: absolute;
  animation: circle6 30s infinite linear;
  animation-delay: 9;
}

.circle_7 {
  position: absolute;
  animation: circle7 30s infinite linear;
  animation-delay: 9;
}

.box_1 {
  position: absolute;
  animation: box1 30s infinite linear;
  animation-delay: 9;
}

@keyframes box1 {
  0% {
    transform: rotate(0);
    top: 10%;
    left: 45%
  }

  20% {
    transform: rotate(360deg);
    top: 40%;
    background: #000;
    left: 10%;
  }

  40% {
    transform: rotate(0);
    top: 80%;
    left: 45%
  }

  60% {
    top: 40%;
    left: 80%
  }

  100% {
    transform: rotate(0);
    top: 10%;
    left: 50%
  }
}

@keyframes circle7 {
  0% {
    bottom: 10%;
    left: 45%;
  }

  20% {
    bottom: 45%;
    left: 10%;
  }

  40% {
    bottom: 80%;
    left: 45%;
  }

  80% {
    bottom: 45%;
    left: 90%;
  }

  100% {
    bottom: 10%;
    left: 45%;
  }
}

@keyframes circle6 {
  0% {
    left: 0;
    top: 0%;
  }

  25% {
    left: 0;
    top: 84%;
    background: blue;
  }

  50% {
    left: 92%;
    top: 84%;
    background: gray;
  }

  75% {
    left: 92%;
    top: 0;
  }

  100% {
    left: 0;
    top: 0%;
  }
}

@keyframes circle5 {
  0% {
    left: 0;
    top: 0%;
  }

  25% {
    left: 92%;
    background: red;
    top: 0;
  }

  50% {
    left: 92%;
    top: 84%;
    background: pink;
  }

  75% {
    left: 0;
    top: 84%;
    background: blue;
  }

  100% {
    left: 0;
    top: 0%;
  }

}

@keyframes moving {
  0% {
    transform: translate(1300px, -100px);
  }

  50% {
    transform: translate(100px, 100px);
  }

  50% {
    transform: translateY(100px);
  }

  100% {
    transform: translate(1300px, 200px);
  }

}

@keyframes circle4 {
  0% {
    transform: translate(1300px, 500px);
  }

  30% {
    transform: translate(1300px, 0px);
  }

  60% {
    transform: translate(900px, 0);
  }

  80% {
    transform: translate(900px, 500px);
  }
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }

  30% {
    transform: translate(0, 400px);
  }

  60% {
    transform: translate(900px, 0);
  }

  100% {
    transform: translate(0px, 600%);
  }
}

@keyframes useKey {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(calc(1000px), 0);
  }

  50% {
    transform: translate(calc(1000px), calc(700px));
    background-color: black;
  }

  75% {
    transform: translate(0, calc(700px));
  }

  100% {
    transform: translate(0, 0);
  }
}